body {
    background-image: url(https://img2.akspic.ru/image/19120-minni_maus-mikki_maus-knigopechatanie-chernyy-vizualnoe_iskusstvo-3200x1200.jpg?attachment=1)
}

h1 {
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
